{{=form}}
{{if ((session.listado!=None)):}}
{{from datetime import date,datetime,timedelta}}
      
      <script type="text/javascript">
        google.charts.load('current', {'packages':['gantt']});
        google.charts.setOnLoadCallback(drawChart);
    
        function drawChart() {
    
          var data = new google.visualization.DataTable();
          data.addColumn('string', 'Task ID');
          data.addColumn('string', 'Task Name');
          data.addColumn('string', 'Resource');
          data.addColumn('date', 'Start Date');
          data.addColumn('date', 'End Date');
          data.addColumn('number', 'Duration');
          data.addColumn('number', 'Percent Complete');
          data.addColumn('string', 'Dependencies');
    
          data.addRows([
            {{for lista in session.listado:}}
            {{f_inicia=datetime.strptime(str(lista.empieza),'%Y-%m-%d')}}
            {{f_inicia2=date(f_inicia.year,f_inicia.month-1,f_inicia.day)}}
            {{inicia=f_inicia2.strftime('new Date(%Y,%m,%d)')}}
            {{f_termina=datetime.strptime(str(lista.termina),'%Y-%m-%d')}}
            {{f_termina2=date(f_termina.year,f_termina.month-1,f_termina.day)}}
            {{termina=f_termina2.strftime('new Date(%Y,%m,%d)')}}
            

            ['{{=lista.id}}', '{{=lista.nombre}}', '{{=lista.tipo}}',
            {{=inicia}}, {{=termina}}, null, 100, null],
             {{pass}}
          ]);
    
          var options = {
            width: 1200,
            gantt: {
              criticalPathEnabled: false,
              trackHeight: 30
            }
          };
    
          var chart = new google.visualization.Gantt(document.getElementById('chart_div'));
    
          chart.draw(data, options);
        }
      </script>
      

      {{if session.fecha_inicio!=None:}}
      <h2>Activos y pasivos desde {{=session.fecha_inicio}} a {{=session.fecha_final}}</h2>
      {{pass}}
      <div id="chart_div"></div>
      <div id="table_sort_div"></div>
      <div id="chart_sort_div"></div>



    
{{pass}}

